<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>bluesprints default page</title>
    </head>

    <body>
        <h1>{{ 'Welcome to bluesprints'|t }}</h1>
        <p>
            {{ 'This is the default controller action. Create your own controller to get started'|t }}

            {{ 'The path you entered'|t }}: "{{ everything }}"
        </p>
    </body>
</html>
